@{
    ViewBag.Title = "Home Page";
}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
        <h3 class="text-themecolor mb-0">Dashboard</h3>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </div>
    <div class="col-md-7 col-12 align-self-center d-none d-md-block">
        <div class="d-flex mt-2 justify-content-end">
            <div class="d-flex me-3 ms-2">
                <div class="chart-text me-2">
                    <h6 class="mb-0"><small>THIS MONTH</small></h6>
                    <h4 class="mt-0 text-info">$58,356</h4>
                </div>
                <div class="spark-chart">
                    <div id="monthchart"></div>
                </div>
            </div>
            <div class="d-flex ms-2">
                <div class="chart-text me-2">
                    <h6 class="mb-0"><small>LAST MONTH</small></h6>
                    <h4 class="mt-0 text-primary">$48,356</h4>
                </div>
                <div class="spark-chart">
                    <div id="lastmonthchart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-8 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-wrap">
                                <div>
                                    <h3 class="card-title">Sales Overview</h3>
                                    <h6 class="card-subtitle">
                                        Ample Admin Vs Pixel Admin
                                    </h6>
                                </div>
                                <div class="ms-auto">
                                    <ul class="list-inline">
                                        <li class="list-inline-item px-2">
                                            <h6 class="text-success">
                                                <i class="fa fa-circle font-10 me-2"></i>Ample
                                            </h6>
                                        </li>
                                        <li class="list-inline-item px-2">
                                            <h6 class="text-info">
                                                <i class="fa fa-circle font-10 me-2"></i>Pixel
                                            </h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div id="sales-overview" style="height: 360px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body">
                    <h3 class="card-title">Our Visitors</h3>
                    <h6 class="card-subtitle">Different Devices Used to Visit</h6>
                    <div id="our-visitors" class="mt-4"></div>
                </div>
                <div class="card-body text-center border-top">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item px-2">
                            <h6 class="text-info">
                                <i class="fa fa-circle font-10 me-2"></i>Mobile
                            </h6>
                        </li>
                        <li class="list-inline-item px-2">
                            <h6 class="text-primary">
                                <i class="fa fa-circle font-10 me-2"></i>Desktop
                            </h6>
                        </li>
                        <li class="list-inline-item px-2">
                            <h6 class="text-success">
                                <i class="fa fa-circle font-10 me-2"></i>Tablet
                            </h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card blog-widget w-100">
                <div class="card-body">
                    <div class="blog-image">
                        <img src="/Content/assets/images/background/img5.jpg"
                             alt="img"
                             class="img-fluid blog-img-height w-100" />
                    </div>
                    <h3>Business development new rules for 2023</h3>
                    <label class="
                      badge badge-pill
                      bg-light-success
                      text-success
                      font-weight-medium
                      py-1
                      px-2
                    ">Technology</label>
                    <p class="my-3">
                        Lorem ipsum dolor sit amet, this is a consectetur
                        adipisicing elit, sed do eiusmod tempor incididunt ut
                    </p>
                    <div class="d-flex align-items-center">
                        <div class="read">
                            <a href="javascript:void(0)"
                               class="link font-weight-medium">Read More</a>
                        </div>
                        <div class="ms-auto">
                            <a href="javascript:void(0)"
                               class="link me-2"
                               data-bs-toggle="tooltip"
                               title="Like">
                                <i class="mdi mdi-heart-outline"></i>
                            </a>
                            <a href="javascript:void(0)"
                               class="link"
                               data-bs-toggle="tooltip"
                               title="Share">
                                <i class="mdi mdi-share-variant"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body">
                    <div class="d-flex flex-wrap">
                        <div>
                            <h3 class="card-title">Newsletter Campaign</h3>
                            <h6 class="card-subtitle">
                                Overview of Newsletter Campaign
                            </h6>
                        </div>
                        <div class="ms-auto align-self-center">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item px-2">
                                    <h6 class="text-success">
                                        <i class="fa fa-circle font-10 me-2"></i>Open Rate
                                    </h6>
                                </li>
                                <li class="list-inline-item px-2">
                                    <h6 class="text-info">
                                        <i class="fa fa-circle font-10 me-2"></i>Recurring
                                        Payments
                                    </h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="newsletter-campaign"></div>
                    <div class="row text-center">
                        <div class="col-lg-4 col-md-4 mt-3">
                            <h1 class="mb-0 fw-light">5098</h1>
                            <small>Total Sent</small>
                        </div>
                        <div class="col-lg-4 col-md-4 mt-3">
                            <h1 class="mb-0 fw-light">4156</h1>
                            <small>Mail Open Rate</small>
                        </div>
                        <div class="col-lg-4 col-md-4 mt-3">
                            <h1 class="mb-0 fw-light">1369</h1>
                            <small>Click Rate</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card bg-primary w-100">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="me-3 align-self-center">
                            <h1 class="text-white"><i class="ti-pie-chart"></i></h1>
                        </div>
                        <div>
                            <h3 class="card-title text-white">Bandwidth usage</h3>
                            <h6 class="card-subtitle text-white op-5">March 2023</h6>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-4 col-xl-7 align-self-center">
                            <h2 class="fw-light text-white text-nowrap">50 GB</h2>
                        </div>
                        <div class="col-8 col-xl-5 pb-3 pt-2 align-self-center">
                            <div id="bandwidth-usage"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card bg-success w-100">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="me-3 align-self-center">
                            <h1 class="text-white">
                                <i class="icon-cloud-download"></i>
                            </h1>
                        </div>
                        <div>
                            <h3 class="card-title text-white">Download count</h3>
                            <h6 class="card-subtitle text-white op-5">March 2023</h6>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-4 col-xl-7 align-self-center">
                            <h2 class="fw-light text-white text-nowrap text-truncate">
                                35487
                            </h2>
                        </div>
                        <div class="col-8 col-xl-5 pb-3 pt-2 text-end">
                            <div id="download-count" style="height: 65px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card w-100">
                <img class="rounded-top"
                     src="/Content/assets/images/background/weatherbg.jpg"
                     alt="Card image cap"
                     style="max-height: 105px" />
                <div class="card-img-overlay" style="height: 110px">
                    <div class="d-flex align-items-center">
                        <h3 class="card-title text-white mb-0 d-inline-block">
                            New Delhi
                        </h3>
                        <div class="ms-auto">
                            <small class="card-text text-white fw-light">Sunday 15 march</small>
                        </div>
                    </div>
                </div>
                <div class="p-3 weather-small">
                    <div class="row">
                        <div class="col-8 border-end align-self-center">
                            <div class="d-flex">
                                <div class="display-6 text-info">
                                    <i class="wi wi-day-rain-wind"></i>
                                </div>
                                <div class="ms-3">
                                    <h1 class="fw-light text-info mb-0">
                                        32<sup>0</sup>
                                    </h1>
                                    <small>Sunny Rainy day</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 text-center">
                            <h1 class="fw-light mb-0">25<sup>0</sup></h1>
                            <small>Tonight</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-5 col-xl-4">
            <!-- Column -->
            <div class="card">
                <img class="card-img-top w-100 profile-bg-height"
                     src="/Content/assets/images/background/profile-bg.jpg"
                     alt="Card image cap" />
                <div class="card-body little-profile text-center">
                    <div class="pro-img">
                        <img src="/Content/assets/images/users/4.jpg"
                             alt="user"
                             class="rounded-circle shadow-sm"
                             width="128" />
                    </div>
                    <h3 class="mb-0">Angela Dominic</h3>
                    <p>Web Designer &amp; Developer</p>
                    <a href="javascript:void(0)"
                       class="
                      mt-2
                      waves-effect waves-dark
                      btn btn-primary btn-md btn-rounded
                    ">Follow</a>
                    <div class="row text-center mt-3 justify-content-center">
                        <div class="col-6 col-md-4 mt-3">
                            <h3 class="mb-0 fw-light">1099</h3>
                            <small class="text-muted">Articles</small>
                        </div>
                        <div class="col-6 col-md-4 mt-3">
                            <h3 class="mb-0 fw-light">23,469</h3>
                            <small class="text-muted">Followers</small>
                        </div>
                        <div class="col-6 col-md-4 mt-3">
                            <h3 class="mb-0 fw-light">6035</h3>
                            <small class="text-muted">Following</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="card">
                <div class="card-body bg-info rounded-top">
                    <h4 class="text-white card-title">My Contacts</h4>
                    <h6 class="card-subtitle text-white mb-0 op-5">
                        Checkout my contacts here
                    </h6>
                </div>
                <div class="message-box contact-box position-relative">
                    <div class="message-widget contact-widget position-relative">
                        <!-- contact -->
                        <a href="#" class="p-3 d-flex align-items-start rounded-3">
                            <div class="user-img position-relative d-inline-block me-2">
                                <img src="/Content/assets/images/users/1.jpg"
                                     alt="user"
                                     class="rounded-circle w-100" />
                                <span class="
                            profile-status
                            pull-right
                            d-inline-block
                            position-absolute
                            bg-success
                            rounded-circle
                          "></span>
                            </div>
                            <div class="ps-2 v-middle d-md-flex align-items-center w-100">
                                <div>
                                    <h5 class="my-1 text-dark font-weight-medium">
                                        James Smith
                                    </h5>
                                    <span class="text-muted fs-2">you were in video call</span>
                                    <span class="text-muted fs-2 d-block">45 mins ago</span>
                                </div>
                                <div class="ms-auto d-flex button-group mt-3 mt-md-0">
                                    <button type="button"
                                            href="#"
                                            class="btn btn-sm btn-light-danger text-danger">
                                        <i data-feather="video" class="feather-sm"></i>
                                    </button>
                                    <button type="button"
                                            href="#"
                                            class="btn btn-sm btn-light-primary text-primary">
                                        <i data-feather="phone-incoming"
                                           class="feather-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </a>
                        <!-- contact -->
                        <a href="#" class="p-3 d-flex align-items-start rounded-3">
                            <div class="user-img position-relative d-inline-block me-2">
                                <img src="/Content/assets/images/users/2.jpg"
                                     alt="user"
                                     class="rounded-circle w-100" />
                                <span class="
                            profile-status
                            pull-right
                            d-inline-block
                            position-absolute
                            bg-success
                            rounded-circle
                          "></span>
                            </div>
                            <div class="ps-2 v-middle d-md-flex align-items-center w-100">
                                <div>
                                    <h5 class="my-1 text-dark font-weight-medium">
                                        Joseph Garciar
                                    </h5>
                                    <span class="text-muted fs-2">you were in video call</span>
                                    <span class="text-muted fs-2 d-block">2 mins ago</span>
                                </div>
                                <div class="ms-auto d-flex button-group mt-3 mt-md-0">
                                    <button type="button"
                                            href="#"
                                            class="btn btn-sm btn-light-danger text-danger">
                                        <i data-feather="video" class="feather-sm"></i>
                                    </button>
                                    <button type="button"
                                            href="#"
                                            class="btn btn-sm btn-light-success text-success">
                                        <i data-feather="phone-outgoing"
                                           class="feather-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </a>
                        <!-- contact -->
                        <a href="#" class="p-3 d-flex align-items-start rounded-3">
                            <div class="user-img position-relative d-inline-block me-2">
                                <img src="/Content/assets/images/users/6.jpg"
                                     alt="user"
                                     class="rounded-circle w-100" />
                                <span class="
                            profile-status
                            pull-right
                            d-inline-block
                            position-absolute
                            bg-success
                            rounded-circle
                          "></span>
                            </div>
                            <div class="ps-2 v-middle d-md-flex align-items-center w-100">
                                <div>
                                    <h5 class="my-1 text-dark font-weight-medium">
                                        Maria Rodriguez
                                    </h5>
                                    <span class="text-muted fs-2">you missed john call</span>
                                    <span class="text-muted fs-2 d-block">1 hour ago</span>
                                </div>
                                <div class="ms-auto d-flex button-group mt-3 mt-md-0">
                                    <button type="button"
                                            href="#"
                                            class="btn btn-sm btn-light-danger text-danger">
                                        <i data-feather="video" class="feather-sm"></i>
                                    </button>
                                    <button type="button"
                                            href="#"
                                            class="btn btn-sm btn-light-info text-info">
                                        <i data-feather="phone-missed"
                                           class="feather-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </a>
                        <!-- contact -->
                        <a href="#" class="p-3 d-flex align-items-start rounded-3">
                            <div class="user-img position-relative d-inline-block me-2">
                                <img src="/Content/assets/images/users/4.jpg"
                                     alt="user"
                                     class="rounded-circle w-100" />
                                <span class="
                            profile-status
                            pull-right
                            d-inline-block
                            position-absolute
                            bg-success
                            rounded-circle
                          "></span>
                            </div>
                            <div class="ps-2 v-middle d-md-flex align-items-center w-100">
                                <div>
                                    <h5 class="my-1 text-dark font-weight-medium">
                                        Henry Hernandez
                                    </h5>
                                    <span class="text-muted fs-2">you were in phone call</span>
                                    <span class="text-muted fs-2 d-block">2 days ago</span>
                                </div>
                                <div class="ms-auto d-flex button-group mt-3 mt-md-0">
                                    <button type="button"
                                            href="#"
                                            class="btn btn-sm btn-light-danger text-danger">
                                        <i data-feather="video" class="feather-sm"></i>
                                    </button>
                                    <button type="button"
                                            href="#"
                                            class="btn btn-sm btn-light-success text-success">
                                        <i data-feather="phone-outgoing"
                                           class="feather-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </a>
                        <!-- contact -->
                        <a href="#" class="p-3 d-flex align-items-start rounded-3">
                            <div class="user-img position-relative d-inline-block me-2">
                                <img src="/Content/assets/images/users/5.jpg"
                                     alt="user"
                                     class="rounded-circle w-100" />
                                <span class="
                            profile-status
                            pull-right
                            d-inline-block
                            position-absolute
                            bg-success
                            rounded-circle
                          "></span>
                            </div>
                            <div class="ps-2 v-middle d-md-flex align-items-center w-100">
                                <div>
                                    <h5 class="my-1 text-dark font-weight-medium">
                                        James Johnson
                                    </h5>
                                    <span class="text-muted fs-2">you were call forwarded</span>
                                    <span class="text-muted fs-2 d-block">55 mins ago</span>
                                </div>
                                <div class="ms-auto d-flex button-group mt-3 mt-md-0">
                                    <button type="button"
                                            href="#"
                                            class="btn btn-sm btn-light-danger text-danger">
                                        <i data-feather="video" class="feather-sm"></i>
                                    </button>
                                    <button type="button"
                                            href="#"
                                            class="btn btn-sm btn-light-warning text-warning">
                                        <i data-feather="phone-forwarded"
                                           class="feather-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-xl-8">
            <div class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile-tab nav-justified"
                    role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active text-center"
                           data-bs-toggle="tab"
                           href="#home"
                           role="tab">
                            <i data-feather="activity"
                               class="fill-white feather-sm"></i>
                            <span class="d-none d-md-inline-block fw-normal">Activity</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center"
                           data-bs-toggle="tab"
                           href="#profile"
                           role="tab">
                            <i data-feather="users" class="fill-white feather-sm"></i>
                            <span class="d-none d-md-inline-block fw-normal">Profile</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center"
                           data-bs-toggle="tab"
                           href="#settings"
                           role="tab">
                            <i data-feather="settings"
                               class="fill-white feather-sm"></i>
                            <span class="d-none d-md-inline-block fw-normal">Settings</span>
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel">
                        <div class="card-body">
                            <div class="profiletimeline position-relative">
                                <div class="sl-item mt-2 mb-3">
                                    <div class="sl-left float-left me-3">
                                        <img src="/Content/assets/images/users/1.jpg"
                                             alt="user"
                                             class="rounded-circle" />
                                    </div>
                                    <div class="sl-right">
                                        <div>
                                            <div class="d-md-flex align-items-center">
                                                <h5 class="mb-0 font-weight-medium">
                                                    <a href="#" class="link">John Doe</a>
                                                </h5>
                                                <span class="sl-date text-muted ms-1">5 minutes ago</span>
                                            </div>

                                            <p>
                                                assign a new task
                                                <a href="#"> Design weblayout</a>
                                            </p>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <img src="/Content/assets/images/big/img1.jpg"
                                                         alt="user"
                                                         class="img-fluid rounded-3" />
                                                </div>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <img src="/Content/assets/images/big/img2.jpg"
                                                         alt="user"
                                                         class="img-fluid rounded-3" />
                                                </div>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <img src="/Content/assets/images/big/img3.jpg"
                                                         alt="user"
                                                         class="img-fluid rounded-3" />
                                                </div>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <img src="/Content/assets/images/big/img4.jpg"
                                                         alt="user"
                                                         class="img-fluid rounded-3" />
                                                </div>
                                            </div>
                                            <div class="text-nowrap">
                                                <a href="javascript:void(0)"
                                                   class="link me-2 font-weight-medium">
                                                    <i data-feather="message-circle"
                                                       class="fill-white feather-sm text-info"></i>
                                                    comments
                                                </a>
                                                <a href="javascript:void(0)"
                                                   class="link me-2 font-weight-medium">
                                                    <i data-feather="heart"
                                                       class="fill-white feather-sm text-danger"></i>
                                                    5 Likes
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sl-item my-4 border-top pt-4">
                                    <div class="sl-left float-left me-3">
                                        <img src="/Content/assets/images/users/2.jpg"
                                             alt="user"
                                             class="rounded-circle" />
                                    </div>
                                    <div class="sl-right">
                                        <div>
                                            <div class="d-md-flex align-items-center">
                                                <h5 class="mb-0 font-weight-medium">
                                                    <a href="#" class="link">James Smith</a>
                                                </h5>
                                                <span class="sl-date text-muted ms-1">5 minutes ago</span>
                                            </div>
                                            <div class="mt-3 row">
                                                <div class="col-md-3 col-xs-12">
                                                    <img src="/Content/assets/images/big/img1.jpg"
                                                         alt="user"
                                                         class="img-fluid rounded-3" />
                                                </div>
                                                <div class="col-md-9 mt-3 mt-md-0">
                                                    <p class="fs-3">
                                                        Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit. Integer nec odio. Praesent
                                                        libero. Sed cursus ante dapibus diam.
                                                    </p>
                                                    <a href="#" class="btn btn-success">
                                                        Design weblayout
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="text-nowrap mt-3">
                                                <a href="javascript:void(0)"
                                                   class="link me-2 font-weight-medium">
                                                    <i data-feather="message-circle"
                                                       class="fill-white feather-sm text-info"></i>
                                                    comments
                                                </a>
                                                <a href="javascript:void(0)"
                                                   class="link me-2 font-weight-medium">
                                                    <i data-feather="heart"
                                                       class="fill-white feather-sm text-danger"></i>
                                                    5 Likes
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sl-item my-4 border-top pt-4">
                                    <div class="sl-left float-left me-3">
                                        <img src="/Content/assets/images/users/3.jpg"
                                             alt="user"
                                             class="rounded-circle" />
                                    </div>
                                    <div class="sl-right">
                                        <div>
                                            <div class="d-md-flex align-items-center">
                                                <h5 class="mb-0 font-weight-medium">
                                                    <a href="#" class="link">Maria Hernandez</a>
                                                </h5>
                                                <span class="sl-date text-muted ms-1">5 minutes ago</span>
                                            </div>
                                            <p class="mt-2 fs-3">
                                                Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit. Integer nec odio. Praesent
                                                libero. Sed cursus ante dapibus diam. Sed nisi.
                                                Nulla quis sem at nibh elementum imperdiet. Duis
                                                sagittis ipsum. Praesent mauris. Fusce nec
                                                tellus sed augue semper
                                            </p>
                                        </div>
                                        <div class="text-nowrap mt-3">
                                            <a href="javascript:void(0)"
                                               class="link me-2 font-weight-medium">
                                                <i data-feather="message-circle"
                                                   class="fill-white feather-sm text-info"></i>
                                                comments
                                            </a>
                                            <a href="javascript:void(0)"
                                               class="link me-2 font-weight-medium">
                                                <i data-feather="heart"
                                                   class="fill-white feather-sm text-danger"></i>
                                                5 Likes
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="sl-item my-4 border-top pt-4">
                                    <div class="sl-left float-left me-3">
                                        <img src="/Content/assets/images/users/4.jpg"
                                             alt="user"
                                             class="rounded-circle" />
                                    </div>
                                    <div class="sl-right">
                                        <div>
                                            <div class="d-md-flex">
                                                <h5 class="mb-0 font-weight-medium">
                                                    <a href="#" class="link">John Doe</a>
                                                </h5>
                                                <span class="sl-date text-muted ms-1">5 minutes ago</span>
                                            </div>
                                            <blockquote class="mt-2 fs-3">
                                                Lorem ipsum dolor sit amet, consectetur
                                                adipisicing elit, sed do eiusmod tempor
                                                incididunt
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--second tab-->
                    <div class="tab-pane" id="profile" role="tabpanel">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 col-xs-6 border-end">
                                    <strong>Full Name</strong>
                                    <br />
                                    <p class="text-muted">Johnathan Deo</p>
                                </div>
                                <div class="col-md-3 col-xs-6 border-end">
                                    <strong>Mobile</strong>
                                    <br />
                                    <p class="text-muted">(123) 456 7890</p>
                                </div>
                                <div class="col-md-3 col-xs-6 border-end">
                                    <strong>Email</strong>
                                    <br />
                                    <p class="text-muted">johnathan@admin.com</p>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <strong>Location</strong>
                                    <br />
                                    <p class="text-muted">London</p>
                                </div>
                            </div>
                            <hr />
                            <p class="mt-4">
                                Donec pede justo, fringilla vel, aliquet nec, vulputate
                                eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                                venenatis vitae, justo. Nullam dictum felis eu pede
                                mollis pretium. Integer tincidunt.Cras dapibus. Vivamus
                                elementum semper nisi. Aenean vulputate eleifend tellus.
                                Aenean leo ligula, porttitor eu, consequat vitae,
                                eleifend ac, enim.
                            </p>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book. It has
                                survived not only five centuries
                            </p>
                            <p>
                                It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and
                                more recently with desktop publishing software like
                                Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <h4 class="font-medium mt-4">Skill Set</h4>
                            <hr />
                            <h5 class="mt-4">
                                Wordpress <span class="pull-right">80%</span>
                            </h5>
                            <div class="progress">
                                <div class="progress-bar bg-success"
                                     role="progressbar"
                                     aria-valuenow="80"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width: 80%; height: 6px">
                                    <span class="sr-only">50% Complete</span>
                                </div>
                            </div>
                            <h5 class="mt-4">
                                HTML 5 <span class="pull-right">90%</span>
                            </h5>
                            <div class="progress">
                                <div class="progress-bar bg-info"
                                     role="progressbar"
                                     aria-valuenow="90"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width: 90%; height: 6px">
                                    <span class="sr-only">50% Complete</span>
                                </div>
                            </div>
                            <h5 class="mt-4">
                                jQuery <span class="pull-right">50%</span>
                            </h5>
                            <div class="progress">
                                <div class="progress-bar bg-danger"
                                     role="progressbar"
                                     aria-valuenow="50"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width: 50%; height: 6px">
                                    <span class="sr-only">50% Complete</span>
                                </div>
                            </div>
                            <h5 class="mt-4">
                                Photoshop <span class="pull-right">70%</span>
                            </h5>
                            <div class="progress">
                                <div class="progress-bar bg-warning"
                                     role="progressbar"
                                     aria-valuenow="70"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width: 70%; height: 6px">
                                    <span class="sr-only">50% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="settings" role="tabpanel">
                        <div class="card-body">
                            <form class="form-horizontal form-material">
                                <div class="form-group mb-3">
                                    <label class="col-md-12">Full Name</label>
                                    <div class="col-md-12">
                                        <input type="text"
                                               placeholder="Johnathan Doe"
                                               class="form-control form-control-line" />
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="example-email" class="col-md-12">Email</label>
                                    <div class="col-md-12">
                                        <input type="email"
                                               placeholder="johnathan@admin.com"
                                               class="form-control form-control-line"
                                               name="example-email"
                                               id="example-email" />
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="col-md-12">Password</label>
                                    <div class="col-md-12">
                                        <input type="password"
                                               value="password"
                                               class="form-control form-control-line" />
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="col-md-12">Phone No</label>
                                    <div class="col-md-12">
                                        <input type="text"
                                               placeholder="123 456 7890"
                                               class="form-control form-control-line" />
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="col-md-12">Message</label>
                                    <div class="col-md-12">
                                        <textarea rows="5"
                                                  class="form-control form-control-line"></textarea>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="col-sm-12">Select Country</label>
                                    <div class="col-sm-12">
                                        <select class="form-control form-control-line">
                                            <option>London</option>
                                            <option>India</option>
                                            <option>Usa</option>
                                            <option>Canada</option>
                                            <option>Thailand</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success">
                                            Update Profile
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->